<div class="container">
  <div class="row">
    <section class="col-md-12 nopadding top">
      <div class="top-subscribe">
        <button type="button" class="subscriptions">Gérer vos abonnements</button>
      </div>
      <div class="top-user">
        <p>Turquand Audrey</p>
        <%= image_tag("basket.jpg") %>
      </div>
    </section>
    <header class="col-md-12">
      <div class="title">
        <h1>Sports<br>events</h1>
        <h2>Tous vos événements sportifs <br> à un seul endroit</h2>
      </div>
      <h3>De quels sports souhaitez-vous voir les événements ?</h3>
      <button type="button" class="sports-send">Terminé</button>
    </header>
    <section class="col-md-12">
      <div class="row">
        <div class="col-md-4 sports-selection basket">
          <p class="sport-name">Basket</p>
          <button type="button" class="sport-subscription">S'abonner ?</button>
          <hr class="basket">
        </div>
        <div class="col-md-4 sports-selection basket">
          <p class="sport-name">Basket</p>
          <button type="button" class="sport-subscription">S'abonner ?</button>
          <hr class="basket">
        </div>
        <div class="col-md-4 sports-selection basket">
          <p class="sport-name">Basket</p>
          <button type="button" class="sport-subscription">S'abonner ?</button>
          <hr class="basket">
        </div>
        <div class="col-md-4 sports-selection basket">
          <p class="sport-name">Basket</p>
          <button type="button" class="sport-subscription">S'abonner ?</button>
          <hr class="basket">
        </div>
        <div class="col-md-4 sports-selection basket">
          <p class="sport-name">Basket</p>
          <button type="button" class="sport-subscription">S'abonner ?</button>
          <hr class="basket">
        </div>
        <div class="col-md-4 sports-selection basket">
          <p class="sport-name">Basket</p>
          <button type="button" class="sport-subscription">S'abonner ?</button>
          <hr class="basket">
        </div>
    </section>
  </div>
</div>