  <h3>De quels sports souhaitez-vous voir les événements ?</h3>
  <button type="button" class="sports-send">Terminé</button>
</header>
<section class="col-md-12">
  <div class="row">
    <div class="col-md-4 sports-selection basket">
      <p class="sport-name">Basket</p>
      <button type="button" class="sport-subscription">S'abonner ?</button>
      <hr class="basket">
    </div>
    <div class="col-md-4 sports-selection basket">
      <p class="sport-name">Basket</p>
      <button type="button" class="sport-subscription">S'abonner ?</button>
      <hr class="basket">
    </div>
    <div class="col-md-4 sports-selection basket">
      <p class="sport-name">Basket</p>
      <button type="button" class="sport-subscription">S'abonner ?</button>
      <hr class="basket">
    </div>
    <div class="col-md-4 sports-selection basket">
      <p class="sport-name">Basket</p>
      <button type="button" class="sport-subscription">S'abonner ?</button>
      <hr class="basket">
    </div>
    <div class="col-md-4 sports-selection basket">
      <p class="sport-name">Basket</p>
      <button type="button" class="sport-subscription">S'abonner ?</button>
      <hr class="basket">
    </div>
    <div class="col-md-4 sports-selection basket">
      <p class="sport-name">Basket</p>
      <button type="button" class="sport-subscription">S'abonner ?</button>
      <hr class="basket">
    </div>
</section>