<h1>Sports</h1>
<div class="row">
  <div class="col-lg-6">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Show</th>
            <th>Events</th>
          </tr>
        </thead>
        <tbody>
          <% @sports.each do |sport| %>
            <tr>
              <td><%= sport.title %></td>
              <td><%= link_to "Show", sport, :class => "btn btn-xs btn-primary" %></td>
              <td><%= link_to "Events", { controller: "events", action: "display_by_sport", id: sport }, :class => "btn btn-xs btn-info" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>