<h1><%= @user.firstname + " "+ @user.lastname %></h1>

<h2><%= @user.email %></h2>
<h3><%= @user.rank %></h3>
<%= link_to "Edit", { :controller =>"users", :action=> "edit" }, :id=> @user, :class=>"btn btn-default" %>