.auth{
  margin-top: 4.2rem;
  padding-bottom: 11rem;
  h3{
    color: #a6a6a6;
    font: 1.6rem 'kelson_sansregular', arial, sans-serif;
    margin-bottom: 4.2rem;
    text-align: center;
  }
}

.sports-send{
  background-color: $black;
  border: 1px solid $grey;
  color: $grey;
  float: right;
  margin-top: -3rem;
  margin-right: 8.5rem;
  padding: 1.2rem;
  text-transform: uppercase;
}

.sports-selection{
  border-top: 1px solid $black-grey;
  border-right: 1px solid $black-grey;
  height: 21.4rem;
  text-align: center;
  img{
    @include transition(opacity, 0.3s linear);
    position: absolute;
    margin-left: -50%;
    opacity: 0;
  }
  hr{
    margin-top: 4rem;
    width: 17.5rem;
  }
}

.sport-name{
  color: $white;
  font: 2rem/2rem 'kelson_sansbold', arial, sans-serif;
  padding-top: 9.8rem;
  text-align: center;
}

.sport-subscription{
  background-color: $dark-black;
  border: 0;
  color: $white;
  font: 1.2rem/2rem 'source_sans_proregular', arial, sans-serif;
  padding: 1rem 2rem;
  text-transform: uppercase;
  width: auto;
}