.top-back{
  color: $grey;
  display: inline-block;
  font:  1.4rem/2.4rem 'source_sans_probold', arial, sans-serif;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  width: 400px;
  @include transition(all, 0.3s linear);
  &:hover{
    color: $dark-grey;
  }
  i{
    margin-right: 1rem;
  }
}

.event-img{
  img{
    position: absolute;
  }
}

.event-informations{
  background-color: #232323;
  position: absolute;
  top: 33.7rem;
  left: 50.3rem;
  width: 32.7rem;
  min-height: 17rem;
  ul{
    margin: 3rem;
    padding-left: 0;
  }
  li{
    color: $white;
    font:  1.4rem/1.8rem 'source_sans_proregular', arial, sans-serif;
    list-style: none;
    margin-bottom: 1.7rem;
  }
  i{
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    margin-right: 2rem;
    font-size: 21px;
    vertical-align: middle;
  }
}

.event-description{
  background-color: $white;
  width: 66.3rem;
  padding-left: 8.4rem;
  padding-right: 8.4rem;
  padding-bottom: 7.3rem;
  margin-top: 50.6rem;
  h1{
    font: 2.4rem/3rem 'kelson_sansbold', arial, sans-serif;
    margin-top: 5.8rem;
    margin-bottom: 5rem;
  }
  p{
    font:  1.6rem/2.4rem 'source_sans_proregular', arial, sans-serif;
    margin-bottom: 6.3rem;
  }
}

.event-comments{
  background-color: #f2f2f2;
  padding-left: 8.4rem;
  padding-right: 8.4rem;
  padding-top: 6.1rem;
}

.author{
  font:  1.2rem/2rem 'source_sans_prosemibold', arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.message{
  margin-top: 2rem;
  margin-bottom: 2rem;
  font:  1.4rem/2rem 'source_sans_proregular', arial, sans-serif;
}

.comment{
  hr{
    border-top: 1px solid #d9d9d9;
  }
}

.response{
  p{
    font: 1.8rem/2.4rem 'kelson_sansregular', arial, sans-serif;
    margin-bottom: 2rem;
  }
  textarea{
    margin-bottom: 1.5rem;
  }
}

.sidebar-user{
  position: fixed;
  bottom: 0;
  right: -999px;
  width: 27%;
  top: 0;
  height: 100%;
  background-color: $black;
  @include transition(all, 0.7s linear);
  h1{
    letter-spacing: 0.02em;
    text-align: center;
    color: $white;
    font: 2.4rem/2.4rem 'kelson_sansregular', arial, sans-serif;
    margin-bottom: 4.8rem;
  }
  hr{
    border: 1px solid $grey;
    margin:0;
  }
  &.active{
    transform: translateX(-999px);
  }
}

.sidebar-close{
  position: absolute;
  background-color: $black;
  cursor: pointer;
  top: 0;
  left: -4.9rem;
  width: 4.9rem;
  text-align: center;
  height: 5rem;
  padding-top: 1.6rem;
  border-right: 1px solid $grey;
  i{
    color: $white;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
  }
}

.sidebar-img{
  margin-top: 4.2rem;
  margin-bottom: 4.8rem;
  text-align: center;
  img{
    max-width: 100%;
    @include box-shadow($orange 9px 9px 0);
    width: 22.8rem;
  }
}

.sidebar-like{
  padding-left: 5.1rem;
  padding-right: 5.1rem;
  padding-top: 3.9rem;
  color: $white;
  span{
    margin-left: 1rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font:  1.4rem/2rem 'source_sans_proregular', arial, sans-serif;
  }
  ul{
    margin-top: 3.7rem;
    padding: 0;
  }
  li{
    color: $grey;
    font:  1.4rem/2rem 'source_sans_proregular', arial, sans-serif;
    list-style: none;
    margin-bottom: 3.3rem;
  }
}

.liker{
  text-align: center;
  a{
    padding: 1.3rem 2.5rem;
    background-color: transparent;
    @include box-shadow($dark-orange 3px 3px 0);
    color: $orange;
    font:  1.2rem/2rem 'source_sans_probold', arial, sans-serif;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    border: 1px solid $orange;
    text-decoration: none;
    @include transition(all, 0.3s linear);
    &:hover, &.active{
      border: 1px solid #eb9605;
      background-color: #eb9605;
      color: $white;
      text-decoration: none;
    }
  }
}