@font-face {
    font-family: 'kelson_sansbold';
    src: url('kelson_sans_bold-webfont.eot');
    src: url('kelson_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('kelson_sans_bold-webfont.woff2') format('woff2'),
         url('kelson_sans_bold-webfont.woff') format('woff'),
         url('kelson_sans_bold-webfont.ttf') format('truetype'),
         url('kelson_sans_bold-webfont.svg#kelson_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kelson_sansregular';
    src: url('kelson_sans_regular-webfont.eot');
    src: url('kelson_sans_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('kelson_sans_regular-webfont.woff2') format('woff2'),
         url('kelson_sans_regular-webfont.woff') format('woff'),
         url('kelson_sans_regular-webfont.ttf') format('truetype'),
         url('kelson_sans_regular-webfont.svg#kelson_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('sourcesanspro-regular-webfont.eot');
    src: url('sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('sourcesanspro-regular-webfont.woff') format('woff'),
         url('sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_prolight';
    src: url('sourcesanspro-light-webfont.eot');
    src: url('sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-light-webfont.woff2') format('woff2'),
         url('sourcesanspro-light-webfont.woff') format('woff'),
         url('sourcesanspro-light-webfont.ttf') format('truetype'),
         url('sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('sourcesanspro-semibold-webfont.eot');
    src: url('sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('sourcesanspro-semibold-webfont.woff') format('woff'),
         url('sourcesanspro-semibold-webfont.ttf') format('truetype'),
         url('sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_probold';
    src: url('sourcesanspro-bold-webfont.eot');
    src: url('sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('sourcesanspro-bold-webfont.woff') format('woff'),
         url('sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_proitalic';
    src: url('sourcesanspro-it-webfont.eot');
    src: url('sourcesanspro-it-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-it-webfont.woff2') format('woff2'),
         url('sourcesanspro-it-webfont.woff') format('woff'),
         url('sourcesanspro-it-webfont.ttf') format('truetype'),
         url('sourcesanspro-it-webfont.svg#source_sans_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

$white: #fefefe;
$grey: #a6a6a6;
$dark-grey: #2f2e2c;
$black-grey: #2e2e2e;
$black: #232325;
$dark-black: #1c1c1c;
$orange: #ffa505;
$dark-orange: #c47e04;

body{
  background-color: #fafafa;
  background-image: url('motif-fond.png');
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;;
  -o-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  &.page-event{
    background-image: url('basket.png');
    background-repeat: no-repeat;
    background-position-y: 800px;
  }
}
input{
  background-color: $black;
  border: 1px solid $dark-grey;
  color: $grey;
  font: 1.4rem/2rem 'source_sans_prolight', arial, sans-serif;
  margin-bottom: 1.5rem;
  outline: none;
  padding: 1.5rem;
  width: 100%;
  &[type="submit"]{
    border: 0;
    background-color: $orange;
    @include box-shadow($dark-orange 3px 3px 0);
    color: $white;
    margin-right: 0.3rem;
    height: 3.5rem;
    float: right;
    font:  1.2rem/2rem 'source_sans_prosemibold', arial, sans-serif;
    padding: 0;
    text-transform: uppercase;
    width: 7.4rem;
  }
  &:focus {
    outline:none;
  }
}

textarea{
  border: 1px solid $grey;
  font: 1.4rem/2rem 'source_sans_proitalic', arial, sans-serif;
  width: 100%;
  outline: none;
  height: 9.7rem;
  background-color: $white;
  padding: 2rem;
  &:focus {
    outline:none;
  }
}


.container{
  margin: 0 auto 0 auto;
  width: 1000px;
}

header{
  background-color: $black;
  border-bottom: 1px solid $dark-grey;
  min-height: 26.8rem;
  vertical-align: middle;
  h1{
    color: $white;
    display: inline-block;
    font: 3rem/3.1rem 'kelson_sansbold', arial, sans-serif;
    margin: 0 2rem 0 0;
    padding: 7.2rem 0 0 8.4rem;
    text-transform: uppercase;
    white-space: pre;
  }
  h2{
    color: $white;
    display: inline-block;
    font: 1.4rem/1.9rem 'source_sans_proregular', arial, sans-serif;
    margin: 0;
  }
  h3{
    color: $grey;
    font: 1.6rem/2rem 'kelson_sansregular', arial, sans-serif;
    margin: 0;
    padding-top: 6.4rem;
    text-align: center;
  }
  nav{
    border-top: 1px solid $black-grey;
    height: 6.9rem;
    margin: 0 -1.5rem 0 -1.5rem;
    padding: 2.4rem 0em 2.4rem 3rem;
  }
  .subtitle{
    margin-bottom: 4rem;
  }

}

.icon-filtre{
  color: $white;
  display: inline-block;
}

.filter{
  color: $white;
  display: inline-block;
  font: 1.6rem/1.9rem 'source_sans_proregular', arial, sans-serif;
  margin-left: 1.6rem;
}

.filter-sports{
  display: inline-block;
  margin-top: -2.5rem;
  padding-top: 2.5rem;
  margin-bottom: 0;
  padding-bottom: 2.5rem;
  float: right;
  li{
    position: relative;
    color: $grey;
    display: inline;
    font:  1.4rem 'source_sans_prosemibold', arial, sans-serif;
    margin-right: 3rem;
    text-transform: uppercase;
    &:before{
      content: "";
      position: absolute;
      width: 20px;
      height: 4px;
      left: 50%;
      margin-left: -10px;
      top: -27px;
    }
    &.basket{
      &:before{
        background-color: $orange;
      }
    }
    &.football{
      &:before{
        background-color: green;
      }
    }
  }
  .border{
    border-top: 1px solid $orange;
  }
}

.popular{
  @extend .filter-sports;
  border-left: 1px solid $dark-grey !important;
  padding-left: 3rem;
}

.nopadding {
   padding: 0 !important;
}

.black{
  background-color: $black;
}

.title{
  margin-bottom: 7.3rem;
}

.top{
  margin: 1.8rem 0;
}

.top-subscribe{
  display: inline-block;
  width: 400px;
}

.subscriptions{
  background-color: transparent;
  border: 1px solid #dadada;
  color: $grey;
  display: inline-block;
  font:  1.2rem/2.4rem 'source_sans_prosemibold', arial, sans-serif;
  letter-spacing: 0.02em;
  padding: 1.2rem;
  text-transform: uppercase;
}

.register{
  color: $grey;
  display: inline-block;
  font:  1.4rem/2.4rem 'source_sans_probold', arial, sans-serif;
  letter-spacing: 0.025em;
  padding: 1.2rem;
  text-transform: uppercase;
}

.login{
  @extend .register;
}

.top-user{
  display: inline-block;
  width: 593px;
  text-align: right;
  p{
    color: $grey;
    display: inline-block;
    font:  1.4rem/2.4rem 'source_sans_probold', arial, sans-serif;
    margin-right: 1rem;
    letter-spacing: 0.025em;
    text-transform: uppercase;
  }
  img{
    @include box-shadow($orange 3px 3px 0);
    display: inline-block;
    max-width: 100%;
    width: 35px;
  }
}
.tooltip-inner {
  text-align: left;
}
