.home{
  margin-top: 2.9rem;
}

.event-small{
  background-color: $white;
  border: 1px solid $grey;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 242px !important;
  hr{
    margin-top: 2.5rem;
    margin-bottom: 0;
    width: 17.5rem;
  }
  &:nth-of-type(3n+4){
    margin-right: 0;
  }
}


.event-small-img{
  height: 16rem;
  overflow: hidden;
  img{
    max-width: 100%;
  }
}

.event-small-description{
  color: #4a4745;
  margin-left: 2.8rem;
  margin-right: 2.8rem;
}

.event-small-sport{
  margin-top: 2rem;
  margin-bottom: 0;
  font: 1.2rem/2rem 'source_sans_proregular', arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.event-small-title{
  font: 1.6rem/2rem 'kelson_sansbold', arial, sans-serif;
  margin-top: 2rem;
  margin-bottom: 0;
  height: 6rem;
  a{
    color: #4a4745;
    &:hover{
      color: $dark-grey;
    }
  }
}

.event-small-date{
  font: 1.2rem/2rem 'source_sans_proregular', arial, sans-serif;
  margin-top: 2rem;
  margin-bottom: 0;
}